<li>{{#link-to 'answer' answer.id}}{{answer.author}} replied to {{answer.question.questionAuthor}} saying: {{answer.input}}.{{/link-to}}</li>


<li>{{#link-to 'answer' answer.id}}
  {{answer.author}} {{answer.question.questionAuthor}} in {{answer.input}} {{/link-to}}
</li>
