

        <!-- <div class="form-group">
          <label for="input">Type</label>
          {{input value=input id="input" placeholder=answer.input}}
        </div> -->



{{#if updateAnswerForm}}
  <h4>Update {{answer.author}}'s {{answer.input}}</h4>
    <div>
      <form>
        <div class="form-group">
          <label for="author">Owner</label>
          {{input value=author id="author" placeholder=answer.author}}
        </div>

        <div class="form-group">
          <label for="input">Type</label>
          {{input value=input id="input" placeholder=answer.input}}
        </div>

        <button {{action 'update' answer}}>Save</button>
      </form>
    </div>
{{else}}
    <button {{action 'updateAnswerForm'}}>Update</button>
{{/if}}
