{{#if updateQuestionForm}}
  <h4>Update {{question.questionAuthor}}'s {{question.notes}}</h4>
    <div>
      <form>
        <div class="form-group">
          <label for="author">Author</label>
          {{input value=author id="author" placeholder=question.author}}
        </div>

        <div class="form-group">
          <label for="input">Type</label>
          {{input value=input id="input" placeholder=question.input}}
        </div>

        <button {{action 'update' question}}>Save</button>
      </form>
    </div>
{{else}}
    <button {{action 'updateQuestionForm'}}>Update</button>
{{/if}}
